.Link {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.Link h1 {
  cursor: pointer;
  color: black;
  margin: 10px;
}

.Link h1.active {
  border: 2px solid purple;
  width: 120px;
  color: blue;
  border-radius: 8px;
}

.deletebutton {
  height: 50px;
}
